.App {
  text-align: center;
  padding: 10px;
}


input{
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid rgb(1, 1, 1) ;
  margin: 12px;
  width:30vh;
  height: 40px;
  font-family: bold;
text-align: center;
box-shadow: 2px 3px 3px   rgb(251, 146, 146);
}
div{
 
  background-color: rgb(253, 252, 251);
  width: auto;
  height: fit-content;
  
}
.square{
  font-size: 40px;
  text-shadow: 2px 2px white;
text-transform: capitalize;
font-weight: bolder;
border: 2px solid rgb(236, 227, 227);
border-radius: 10px;
height: 170px;
  padding: 10px;
  margin: 10px auto;
  width: 15rem;
  box-shadow: 2px 3px 3px  rgb(223, 89, 89);
  

  /* display: flex;

    height: 12rem;
    overflow: auto; */
}
.square p{
 padding: 2px;
  margin: 10px;
  text-align: center;
  /* box-sizing: border-box;
  width: 20em;
  line-break: anywhere; */
  overflow: auto;
}
 
 